vacancy.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://tempuri.org/CLIENTSchema.xsd"
    xmlns:tns="http://tempuri.org/CLIENTSchema.xsd"
    elementFormDefault="qualified">
  
  <xsd:element name="VACANCY" type="tns:VACANCY"/>

  <xsd:complexType name="VACANCY">
    <xsd:sequence>
      <xsd:element name="Language" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="JobTitle" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Location" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ReferenceNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PostingDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ApplicationDeadline" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="StartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NumberOfOpenings" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Organization" type="tns:Organization" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="CandidateRequirements" type="tns:CandidateRequirements" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ConditionsBenefits" type="tns:ConditionsBenefits" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Sections" type="tns:Sections" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="VacancyText" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="UserArea" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Organization">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Address" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Phone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Email" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Fax" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Website" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ContactPerson" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Industry" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CandidateRequirements">
    <xsd:sequence>
      <xsd:element name="Experience" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Education" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Competences" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ComputerSkills" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DrivingLicenses" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LanguageSkills" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConditionsBenefits">
    <xsd:sequence>
      <xsd:element name="ContractType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EmploymentType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="HoursPerWeek" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WorkingHours" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Salary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Sections">
    <xsd:sequence>
      <xsd:element name="EmployerDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="JobDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CandidateProfile" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ConditionsBenefits" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ApplicationProcedure" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserArea">
    <xsd:sequence>
      <xsd:element name="dossier_complet" type="tns:CritereFlag" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="qualification" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="contracttype" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="niveau_etude" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="metier" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="mobilite" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="date_debut" type="tns:CritereDate" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="date_fin" type="tns:CritereDate" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="permis" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="competence" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="annees_experience" type="tns:CritereFloat" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="client" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="secteur" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="service" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>        
        <xsd:element name="regroupement" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>        
        <xsd:element name="diplome" type="tns:CritereDiplome" minOccurs="0" maxOccurs="1"/>        
        <xsd:element name="habilitation" type="tns:CritereHabilitation" minOccurs="0" maxOccurs="unbounded"/>        
        <xsd:element name="langue" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="unbounded"/>        
        <xsd:element name="visite_medicale_a_jour" type="tns:CritereDate" minOccurs="0" maxOccurs="1"/>        
        <xsd:element name="statut_cdi_tt" type="tns:CritereFlag" minOccurs="0" maxOccurs="1"/>        
        <xsd:element name="tt_400h" type="tns:CritereFlag" minOccurs="0" maxOccurs="1"/>  
        <xsd:element name="fspi" type="tns:CritereFlag" minOccurs="0" maxOccurs="1"/>        
		<xsd:element name="compte" type="tns:Compte" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="adresse_delegation" type="tns:Adresse" minOccurs="0" maxOccurs="1"/>
		
    <xsd:element name="cp_commune" type="tns:Referentiel" minOccurs="0" maxOccurs="1"/>
	    
    </xsd:sequence>
  </xsd:complexType>

<xsd:complexType name="Compte">
	<xsd:sequence>   
      <xsd:element name="matriculeCli" type="xsd:string"/>
      <xsd:element name="nom" type="xsd:string" />
      <xsd:element name="sigle" type="xsd:string"/>
	</xsd:sequence>
</xsd:xomplexType>


<xsd:complexType name="CritereHabilitation">
	<xsd:sequence>
      <xsd:element name="priorite" type="xsd:int"/>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element name="libelle" type="xsd:string"/>
      <xsd:element name="date_de_validite" type="xsd:date"/>
	</xsd:sequence>
</xsd:xomplexType>

<xsd:complexType name="CritereDiplome">
	<xsd:sequence>
      <xsd:element name="priorite" type="xsd:int"/>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element name="libelle" type="xsd:string"/>
      <xsd:element name="obtenu" type="xsd:boolean"/>
	</xsd:sequence>
</xsd:xomplexType>

  <xsd:complexType name="Adresse">
    <xsd:sequence>
      <xsd:element name="ligne1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ligne2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ligne3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ligne4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="latitude" type="xsd:Float" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="longitude" type="xsd:Float" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="priorite" type="xsd:int"  minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CritereReferentiel">
    <xsd:sequence>
      <xsd:element name="priorite" type="xsd:int"/>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element name="libelle" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CritereDate">
    <xsd:attribute name="date" type="xsd:date"/>
    <xsd:attribute name="priorite" type="xsd:int"/>
  </xsd:complexType>


  <xsd:complexType name="CritereFlag">
    <xsd:attribute name="flag" type="xsd:boolean"/>
    <xsd:attribute name="priorite" type="xsd:int"/>
  </xsd:complexType>

  <xsd:complexType name="CritereFloat">
    <xsd:attribute name="nombre" type="xsd:float"/>
    <xsd:attribute name="priorite" type="xsd:int"/>
  </xsd:complexType>
</xsd:schema>



  
  
  
  
  
  
  
  <xsd:complexType name="Poste">
    <xsd:sequence>
      <xsd:element name="descriptif_poste" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="visite_medicale_a_jour" type="tns:CritereDate" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>



  <xsd:complexType name="Agence">
    <xsd:sequence>
      <xsd:element name="statut_cdi_tt" type="tns:CritereFlag" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tt_400h" type="tns:CritereFlag" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fspi" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Experience">
    <xsd:sequence>
      <xsd:element name="nombre_experience" type="tns:CritereFloat" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="experience_client" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="experience_service" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="experience_secteur" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="experience_regroupement" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>     
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Formation">
    <xsd:sequence>
      <xsd:element name="niveau_etude" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="diplomes" type="tns:Diplome" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="habilitations" type="tns:Habilitation" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="permis" type="tns:Permis" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="langues" type="tns:Langue" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="autre_caces_formation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Competence">
    <xsd:sequence>
      <xsd:element name="activites" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="machiens_et_materiels" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="domaines_de_mise_en_oeuvre" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="techniques_et_procedes" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="autres_techniques" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="comportementales" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Diplome">
    <xsd:sequence>
      <xsd:element name="type_diplome" type="tns:CritereReferentiel" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="obtenu" type="tns:CritereFlag" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Habilitation">
    <xsd:sequence>
      <xsd:element name="type_habilitation" type="tns:CritereReferentiel" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="date_de_validite" type="tns:CritereDate" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Permis">
    <xsd:sequence>
      <xsd:element name="type_permis" type="tns:CritereReferentiel" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="date_validite" type="tns:CritereDate" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Langue">
    <xsd:sequence>
      <xsd:element name="langue" type="tns:CritereReferentiel" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="niveau" type="tns:CritereReferentiel" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Referentiel">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element name="libelle" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  
  
  
  
  
  
  
  



 
